<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197334463942-t0tltjhk0gdd51anq4c7a9i5qki5ckqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197334463942-t0tltjhk0gdd51anq4c7a9i5qki5ckqg</string>
	<key>API_KEY</key>
	<string>AIzaSyCMhU3oeZ8pFKV9jq6Yy4G-LZHtOGAaMe0</string>
	<key>GCM_SENDER_ID</key>
	<string>197334463942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.square.thinkcoffee</string>
	<key>PROJECT_ID</key>
	<string>dqzcft55j9jj</string>
	<key>STORAGE_BUCKET</key>
	<string>dqzcft55j9jj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197334463942:ios:a25e7206dbcdc6d97d6ec7</string>
</dict>
</plist>